/* TodoList.css */
body{
    background-color: black;
}
.todo-list {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
  }
  
  .todo-list h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
  }
  
  /* .input-container button {
    margin-left: 8px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
  
  .input-container button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
    li button {
        margin-left: 3px;
        padding: 5px 10px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        background-color: #ee4c40;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
  
    li button:hover {
        background-color: #d32f2f;
    }
    button {
        border: none;
    }

.c-button {
    width: 130px;
    background: linear-gradient(140deg, rgba(75, 200, 118, 1) 0%, rgba(31, 145, 70, 1) 100%);
    border-radius: 45px;
    font-size: 18px;
    text-align: left;
    padding: 7px 0px 7px 0px;
    border: 2px solid rgb(37, 37, 37) !important;
    border-style: outset;
    box-shadow: -6px -5px 18px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.c-button .c-main {
    border-radius: 45px;
    color: rgba(255, 255, 255, 1);
    padding: 11px 20px 11px 2px; 
    box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0);
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
}

.c-ico .c-blur {
    background: linear-gradient(318deg, rgba(75, 200, 118, 1) 0%, rgba(31, 145, 70, 1) 100%);
    border-radius: 100%;
    margin-left: 0;
    padding: 6px 18px;
    filter: blur(1px);
    text-align: center;
}

.c-ico {
    position: relative;
    margin-right: 20px;
}

.c-ico .ico-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Hovering */

.c-button .c-main {
    color: aliceblue;
}
